In [1]:
import pandas as pd
url = 'https://www.pro-football-reference.com/years/2019/fantasy.htm'
season_19 = pd.read_html(url,header=1)[0]
season_19.head()

,Rk,Player,Tm,FantPos,Age,G,GS,Cmp,Att,Yds,...,TD.3,2PM,2PP,FantPt,PPR,DKPt,FDPt,VBD,PosRank,OvRank
0,1,Christian McCaffrey*+,CAR,RB,23,16,16,0,2,0,...,19,1,NaN,355,471.2,477.2,413.2,215,1,1
1,2,Lamar Jackson*+,BAL,QB,22,15,15,265,401,3127,...,7,NaN,NaN,416,415.7,429.7,421.7,152,1,2
2,3,Derrick Henry *,TEN,RB,25,15,15,0,0,0,...,18,NaN,NaN,277,294.6,303.6,285.6,136,2,3
3,4,Aaron Jones,GNB,RB,25,16,16,0,0,0,...,19,NaN,NaN,266,314.8,322.8,290.3,125,3,4
4,5,Ezekiel Elliott*,DAL,RB,24,16,16,0,0,0,...,14,NaN,NaN,258,311.7,319.7,284.7,117,4,5

In [2]:
url2 = 'https://www.pro-football-reference.com/years/2020/fantasy.htm'
season_20 = pd.read_html(url2,header=1)[0]
season_20.head()

,Rk,Player,Tm,FantPos,Age,G,GS,Cmp,Att,Yds,...,TD.3,2PM,2PP,FantPt,PPR,DKPt,FDPt,VBD,PosRank,OvRank
0,1,Derrick Henry *+,TEN,RB,26,16,16,0,0,0,...,17,1,NaN,314,333.1,341.1,323.6,184,1,1
1,2,Alvin Kamara*,NOR,RB,25,15,10,0,0,0,...,21,NaN,NaN,295,377.8,383.8,336.3,165,2,2
2,3,Dalvin Cook*,MIN,RB,25,14,14,0,0,0,...,17,3,NaN,294,337.8,346.8,315.8,164,3,3
3,4,Davante Adams*+,GNB,WR,28,14,14,0,0,0,...,18,NaN,NaN,243,358.4,362.4,300.9,117,1,4
4,5,Travis Kelce*+,KAN,TE,31,15,15,1,2,4,...,11,1,NaN,208,312.8,316.8,260.3,117,1,5

In [3]:
season_19 = season_19.drop(['Rk','Player','Tm','VBD'],axis=1)

In [4]:
season_19

,FantPos,Age,G,GS,Cmp,Att,Yds,TD,Int,Att.1,...,FL,TD.3,2PM,2PP,FantPt,PPR,DKPt,FDPt,PosRank,OvRank
0,RB,23,16,16,0,2,0,0,0,287,...,0,19,1,NaN,355,471.2,477.2,413.2,1,1
1,QB,22,15,15,265,401,3127,36,6,176,...,2,7,NaN,NaN,416,415.7,429.7,421.7,1,2
2,RB,25,15,15,0,0,0,0,0,303,...,3,18,NaN,NaN,277,294.6,303.6,285.6,2,3
3,RB,25,16,16,0,0,0,0,0,236,...,2,19,NaN,NaN,266,314.8,322.8,290.3,3,4
4,RB,24,16,16,0,0,0,0,0,301,...,2,14,NaN,NaN,258,311.7,319.7,284.7,4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
634,NaN,23,6,0,0,0,0,0,0,0,...,1,0,NaN,NaN,-2,-2.0,-1.0,-2.0,243,NaN
635,WR,24,6,0,0,0,0,0,0,0,...,1,0,NaN,NaN,-2,-0.9,0.1,-1.4,241,NaN
636,QB,23,3,0,2,4,14,0,1,2,...,0,0,NaN,NaN,-2,-1.6,-0.6,-0.6,73,NaN
637,WR,23,7,0,0,0,0,0,0,0,...,2,0,NaN,NaN,-3,-0.5,1.5,-1.5,245,NaN
638,NaN,25,4,0,0,0,0,0,0,0,...,2,0,NaN,NaN,-4,-4.0,-2.0,-4.0,165,NaN

In [5]:
season_19 = season_19[season_19['FantPos'].notna()]
season_19

,FantPos,Age,G,GS,Cmp,Att,Yds,TD,Int,Att.1,...,FL,TD.3,2PM,2PP,FantPt,PPR,DKPt,FDPt,PosRank,OvRank
0,RB,23,16,16,0,2,0,0,0,287,...,0,19,1,NaN,355,471.2,477.2,413.2,1,1
1,QB,22,15,15,265,401,3127,36,6,176,...,2,7,NaN,NaN,416,415.7,429.7,421.7,1,2
2,RB,25,15,15,0,0,0,0,0,303,...,3,18,NaN,NaN,277,294.6,303.6,285.6,2,3
3,RB,25,16,16,0,0,0,0,0,236,...,2,19,NaN,NaN,266,314.8,322.8,290.3,3,4
4,RB,24,16,16,0,0,0,0,0,301,...,2,14,NaN,NaN,258,311.7,319.7,284.7,4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
631,QB,27,3,1,12,21,126,0,2,6,...,1,0,NaN,NaN,-1,-1.5,1.5,0.5,72,NaN
633,WR,27,1,1,0,0,0,0,0,0,...,1,0,NaN,NaN,-2,-1.4,-0.4,-1.9,244,NaN
635,WR,24,6,0,0,0,0,0,0,0,...,1,0,NaN,NaN,-2,-0.9,0.1,-1.4,241,NaN
636,QB,23,3,0,2,4,14,0,1,2,...,0,0,NaN,NaN,-2,-1.6,-0.6,-0.6,73,NaN
637,WR,23,7,0,0,0,0,0,0,0,...,2,0,NaN,NaN,-3,-0.5,1.5,-1.5,245,NaN

In [6]:
season_19['FantPos'].value_counts()

WR         219
RB         152
TE         116
QB          71
FantPos     20
Name: FantPos, dtype: int64

In [7]:
season_19 = season_19[season_19['FantPos'] != 'FantPos']
season_19

,FantPos,Age,G,GS,Cmp,Att,Yds,TD,Int,Att.1,...,FL,TD.3,2PM,2PP,FantPt,PPR,DKPt,FDPt,PosRank,OvRank
0,RB,23,16,16,0,2,0,0,0,287,...,0,19,1,NaN,355,471.2,477.2,413.2,1,1
1,QB,22,15,15,265,401,3127,36,6,176,...,2,7,NaN,NaN,416,415.7,429.7,421.7,1,2
2,RB,25,15,15,0,0,0,0,0,303,...,3,18,NaN,NaN,277,294.6,303.6,285.6,2,3
3,RB,25,16,16,0,0,0,0,0,236,...,2,19,NaN,NaN,266,314.8,322.8,290.3,3,4
4,RB,24,16,16,0,0,0,0,0,301,...,2,14,NaN,NaN,258,311.7,319.7,284.7,4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
631,QB,27,3,1,12,21,126,0,2,6,...,1,0,NaN,NaN,-1,-1.5,1.5,0.5,72,NaN
633,WR,27,1,1,0,0,0,0,0,0,...,1,0,NaN,NaN,-2,-1.4,-0.4,-1.9,244,NaN
635,WR,24,6,0,0,0,0,0,0,0,...,1,0,NaN,NaN,-2,-0.9,0.1,-1.4,241,NaN
636,QB,23,3,0,2,4,14,0,1,2,...,0,0,NaN,NaN,-2,-1.6,-0.6,-0.6,73,NaN
637,WR,23,7,0,0,0,0,0,0,0,...,2,0,NaN,NaN,-3,-0.5,1.5,-1.5,245,NaN

In [8]:
season_19['FantPos'].value_counts()

WR    219
RB    152
TE    116
QB     71
Name: FantPos, dtype: int64

In [9]:
season_19.isnull().sum()

FantPos      0
Age          0
G            0
GS           0
Cmp          0
Att          0
Yds          0
TD           0
Int          0
Att.1        0
Yds.1        0
Y/A        234
TD.1         0
Tgt          0
Rec          0
Yds.2        0
Y/R         82
TD.2         0
Fmb          0
FL           0
TD.3         0
2PM        508
2PP        532
FantPt      16
PPR          1
DKPt         1
FDPt         1
PosRank      0
OvRank     482
dtype: int64

In [10]:
season_19['Y/A'] = season_19['Y/A'].fillna(0)
season_19.isnull().sum()

/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

FantPos      0
Age          0
G            0
GS           0
Cmp          0
Att          0
Yds          0
TD           0
Int          0
Att.1        0
Yds.1        0
Y/A          0
TD.1         0
Tgt          0
Rec          0
Yds.2        0
Y/R         82
TD.2         0
Fmb          0
FL           0
TD.3         0
2PM        508
2PP        532
FantPt      16
PPR          1
DKPt         1
FDPt         1
PosRank      0
OvRank     482
dtype: int64

In [11]:
season_19['Y/R'] = season_19['Y/R'].fillna(0)
season_19.isnull().sum()

/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

FantPos      0
Age          0
G            0
GS           0
Cmp          0
Att          0
Yds          0
TD           0
Int          0
Att.1        0
Yds.1        0
Y/A          0
TD.1         0
Tgt          0
Rec          0
Yds.2        0
Y/R          0
TD.2         0
Fmb          0
FL           0
TD.3         0
2PM        508
2PP        532
FantPt      16
PPR          1
DKPt         1
FDPt         1
PosRank      0
OvRank     482
dtype: int64

In [12]:
season_19['2PM'] = season_19['2PM'].fillna(0)
season_19.isnull().sum()

/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

FantPos      0
Age          0
G            0
GS           0
Cmp          0
Att          0
Yds          0
TD           0
Int          0
Att.1        0
Yds.1        0
Y/A          0
TD.1         0
Tgt          0
Rec          0
Yds.2        0
Y/R          0
TD.2         0
Fmb          0
FL           0
TD.3         0
2PM          0
2PP        532
FantPt      16
PPR          1
DKPt         1
FDPt         1
PosRank      0
OvRank     482
dtype: int64

In [13]:
season_19['2PP'] = season_19['2PP'].fillna(0)
season_19.isnull().sum()

/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

FantPos      0
Age          0
G            0
GS           0
Cmp          0
Att          0
Yds          0
TD           0
Int          0
Att.1        0
Yds.1        0
Y/A          0
TD.1         0
Tgt          0
Rec          0
Yds.2        0
Y/R          0
TD.2         0
Fmb          0
FL           0
TD.3         0
2PM          0
2PP          0
FantPt      16
PPR          1
DKPt         1
FDPt         1
PosRank      0
OvRank     482
dtype: int64

In [14]:
season_19[season_19['FantPt'].isnull()]

,FantPos,Age,G,GS,Cmp,Att,Yds,TD,Int,Att.1,...,FL,TD.3,2PM,2PP,FantPt,PPR,DKPt,FDPt,PosRank,OvRank
560,QB,25,3,0,3,4,15,0,0,5,...,0,0,0,0,NaN,-0.1,-0.1,-0.1,68,NaN
568,TE,25,11,0,0,0,0,0,0,0,...,0,0,0,0,NaN,1.4,1.4,0.9,112,NaN
570,TE,31,2,2,0,0,0,0,0,2,...,0,0,0,0,NaN,0.3,0.3,0.3,114,NaN
580,TE,23,4,0,0,0,0,0,0,0,...,0,0,0,0,NaN,1.4,1.4,0.9,113,NaN
581,QB,28,5,0,0,3,0,0,0,3,...,0,0,0,0,NaN,-0.3,-0.3,-0.3,69,NaN
583,WR,26,2,0,0,0,0,0,0,0,...,0,0,0,0,NaN,1.3,1.3,0.8,216,NaN
584,TE,27,3,1,0,0,0,0,0,0,...,0,0,0,0,NaN,1.3,1.3,0.8,115,NaN
589,WR,24,8,0,0,0,0,0,0,0,...,0,0,0,0,NaN,1.4,1.4,0.9,215,NaN
599,QB,24,1,0,0,0,0,0,0,1,...,0,0,0,0,NaN,0.1,0.1,0.1,64,NaN
602,RB,31,1,0,0,0,0,0,0,1,...,0,0,0,0,NaN,0.4,0.4,0.4,150,NaN
603,QB,24,1,0,0,0,0,0,0,3,...,0,0,0,0,NaN,-0.3,-0.3,-0.3,70,NaN
605,RB,27,3,0,0,0,0,0,0,0,...,0,0,0,0,NaN,2.4,2.4,1.4,151,NaN
607,RB,28,11,0,0,0,0,0,0,3,...,0,0,0,0,NaN,1.4,1.4,0.9,152,NaN
613,QB,28,1,1,3,6,3,0,0,0,...,0,0,0,0,NaN,0.1,0.1,0.1,63,NaN
619,QB,32,1,0,1,1,1,0,0,0,...,0,0,0,0,NaN,NaN,NaN,NaN,65,NaN
621,TE,27,8,3,0,0,0,0,0,0,...,0,0,0,0,NaN,1.1,1.1,0.6,116,NaN

In [15]:
season_19 = season_19[season_19['FantPt'].notna()]
season_19

,FantPos,Age,G,GS,Cmp,Att,Yds,TD,Int,Att.1,...,FL,TD.3,2PM,2PP,FantPt,PPR,DKPt,FDPt,PosRank,OvRank
0,RB,23,16,16,0,2,0,0,0,287,...,0,19,1,0,355,471.2,477.2,413.2,1,1
1,QB,22,15,15,265,401,3127,36,6,176,...,2,7,0,0,416,415.7,429.7,421.7,1,2
2,RB,25,15,15,0,0,0,0,0,303,...,3,18,0,0,277,294.6,303.6,285.6,2,3
3,RB,25,16,16,0,0,0,0,0,236,...,2,19,0,0,266,314.8,322.8,290.3,3,4
4,RB,24,16,16,0,0,0,0,0,301,...,2,14,0,0,258,311.7,319.7,284.7,4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
631,QB,27,3,1,12,21,126,0,2,6,...,1,0,0,0,-1,-1.5,1.5,0.5,72,NaN
633,WR,27,1,1,0,0,0,0,0,0,...,1,0,0,0,-2,-1.4,-0.4,-1.9,244,NaN
635,WR,24,6,0,0,0,0,0,0,0,...,1,0,0,0,-2,-0.9,0.1,-1.4,241,NaN
636,QB,23,3,0,2,4,14,0,1,2,...,0,0,0,0,-2,-1.6,-0.6,-0.6,73,NaN
637,WR,23,7,0,0,0,0,0,0,0,...,2,0,0,0,-3,-0.5,1.5,-1.5,245,NaN

In [16]:
season_19.isnull().sum()

FantPos      0
Age          0
G            0
GS           0
Cmp          0
Att          0
Yds          0
TD           0
Int          0
Att.1        0
Yds.1        0
Y/A          0
TD.1         0
Tgt          0
Rec          0
Yds.2        0
Y/R          0
TD.2         0
Fmb          0
FL           0
TD.3         0
2PM          0
2PP          0
FantPt       0
PPR          0
DKPt         0
FDPt         0
PosRank      0
OvRank     466
dtype: int64

In [ ]:
season_19.dtypes

In [ ]:
season_19_2.columns

In [ ]:
columns = season_19_2.columns[1:]
columns

In [ ]:
for col in columns:
    season_19_2[col] = pd.to_numeric(season_19_2[col],errors='coerce')
    
season_19_2.dtypes

In [ ]:
season_19_2.dropna(subset=['FantPos'],inplace=True)

In [ ]:
season_19_2.count()

In [ ]:
counts = []

for col in season_19_2.columns:
    season_19_2[col].value_counts()

In [ ]:
counts_df = pd.DataFrame({"Var":season_19_2.columns,
                      "Counts":counts})