In [1]:
import pandas as pd
url = 'https://www.pro-football-reference.com/years/2019/fantasy.htm'
season_19 = pd.read_html(url,header=1)[0]
season_19.head()

,Rk,Player,Tm,FantPos,Age,G,GS,Cmp,Att,Yds,...,TD.3,2PM,2PP,FantPt,PPR,DKPt,FDPt,VBD,PosRank,OvRank
0,1,Christian McCaffrey*+,CAR,RB,23,16,16,0,2,0,...,19,1,NaN,355,471.2,477.2,413.2,215,1,1
1,2,Lamar Jackson*+,BAL,QB,22,15,15,265,401,3127,...,7,NaN,NaN,416,415.7,429.7,421.7,152,1,2
2,3,Derrick Henry *,TEN,RB,25,15,15,0,0,0,...,18,NaN,NaN,277,294.6,303.6,285.6,136,2,3
3,4,Aaron Jones,GNB,RB,25,16,16,0,0,0,...,19,NaN,NaN,266,314.8,322.8,290.3,125,3,4
4,5,Ezekiel Elliott*,DAL,RB,24,16,16,0,0,0,...,14,NaN,NaN,258,311.7,319.7,284.7,117,4,5

In [2]:
url2 = 'https://www.pro-football-reference.com/years/2020/fantasy.htm'
season_20 = pd.read_html(url2,header=1)[0]
season_20.head()

,Rk,Player,Tm,FantPos,Age,G,GS,Cmp,Att,Yds,...,TD.3,2PM,2PP,FantPt,PPR,DKPt,FDPt,VBD,PosRank,OvRank
0,1,Derrick Henry *+,TEN,RB,26,16,16,0,0,0,...,17,1,NaN,314,333.1,341.1,323.6,184,1,1
1,2,Alvin Kamara*,NOR,RB,25,15,10,0,0,0,...,21,NaN,NaN,295,377.8,383.8,336.3,165,2,2
2,3,Dalvin Cook*,MIN,RB,25,14,14,0,0,0,...,17,3,NaN,294,337.8,346.8,315.8,164,3,3
3,4,Davante Adams*+,GNB,WR,28,14,14,0,0,0,...,18,NaN,NaN,243,358.4,362.4,300.9,117,1,4
4,5,Travis Kelce*+,KAN,TE,31,15,15,1,2,4,...,11,1,NaN,208,312.8,316.8,260.3,117,1,5

In [3]:
season_19.describe()

,Rk,Player,Tm,FantPos,Age,G,GS,Cmp,Att,Yds,...,TD.3,2PM,2PP,FantPt,PPR,DKPt,FDPt,VBD,PosRank,OvRank
count,639,639,639,578,639,639,639,639,639,639,...,639,70,46,565,580,580,580,94,639,98
unique,620,619,35,5,22,18,18,61,64,79,...,18,3,4,185,458,471,435,53,246,79
top,Rk,Player,NYG,WR,24,16,0,0,0,0,...,0,1,2PP,1,PPR,DKPt,FDPt,VBD,PosRank,OvRank
freq,20,20,24,219,96,164,173,535,526,535,...,276,46,20,37,20,20,20,20,20,20

In [4]:
season_cat = season_19.dtypes[season_19.dtypes == "object"].index.tolist()
season_cat

['Rk',
 'Player',
 'Tm',
 'FantPos',
 'Age',
 'G',
 'GS',
 'Cmp',
 'Att',
 'Yds',
 'TD',
 'Int',
 'Att.1',
 'Yds.1',
 'Y/A',
 'TD.1',
 'Tgt',
 'Rec',
 'Yds.2',
 'Y/R',
 'TD.2',
 'Fmb',
 'FL',
 'TD.3',
 '2PM',
 '2PP',
 'FantPt',
 'PPR',
 'DKPt',
 'FDPt',
 'VBD',
 'PosRank',
 'OvRank']

In [5]:
season_19.dtypes

Rk         object
Player     object
Tm         object
FantPos    object
Age        object
G          object
GS         object
Cmp        object
Att        object
Yds        object
TD         object
Int        object
Att.1      object
Yds.1      object
Y/A        object
TD.1       object
Tgt        object
Rec        object
Yds.2      object
Y/R        object
TD.2       object
Fmb        object
FL         object
TD.3       object
2PM        object
2PP        object
FantPt     object
PPR        object
DKPt       object
FDPt       object
VBD        object
PosRank    object
OvRank     object
dtype: object

In [6]:
season_19_2 = season_19.drop(['Rk','Player','Tm'],axis=1)

In [7]:
season_19_2

,FantPos,Age,G,GS,Cmp,Att,Yds,TD,Int,Att.1,...,TD.3,2PM,2PP,FantPt,PPR,DKPt,FDPt,VBD,PosRank,OvRank
0,RB,23,16,16,0,2,0,0,0,287,...,19,1,NaN,355,471.2,477.2,413.2,215,1,1
1,QB,22,15,15,265,401,3127,36,6,176,...,7,NaN,NaN,416,415.7,429.7,421.7,152,1,2
2,RB,25,15,15,0,0,0,0,0,303,...,18,NaN,NaN,277,294.6,303.6,285.6,136,2,3
3,RB,25,16,16,0,0,0,0,0,236,...,19,NaN,NaN,266,314.8,322.8,290.3,125,3,4
4,RB,24,16,16,0,0,0,0,0,301,...,14,NaN,NaN,258,311.7,319.7,284.7,117,4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
634,NaN,23,6,0,0,0,0,0,0,0,...,0,NaN,NaN,-2,-2.0,-1.0,-2.0,NaN,243,NaN
635,WR,24,6,0,0,0,0,0,0,0,...,0,NaN,NaN,-2,-0.9,0.1,-1.4,NaN,241,NaN
636,QB,23,3,0,2,4,14,0,1,2,...,0,NaN,NaN,-2,-1.6,-0.6,-0.6,NaN,73,NaN
637,WR,23,7,0,0,0,0,0,0,0,...,0,NaN,NaN,-3,-0.5,1.5,-1.5,NaN,245,NaN
638,NaN,25,4,0,0,0,0,0,0,0,...,0,NaN,NaN,-4,-4.0,-2.0,-4.0,NaN,165,NaN

In [8]:
season_19.head()

,Rk,Player,Tm,FantPos,Age,G,GS,Cmp,Att,Yds,...,TD.3,2PM,2PP,FantPt,PPR,DKPt,FDPt,VBD,PosRank,OvRank
0,1,Christian McCaffrey*+,CAR,RB,23,16,16,0,2,0,...,19,1,NaN,355,471.2,477.2,413.2,215,1,1
1,2,Lamar Jackson*+,BAL,QB,22,15,15,265,401,3127,...,7,NaN,NaN,416,415.7,429.7,421.7,152,1,2
2,3,Derrick Henry *,TEN,RB,25,15,15,0,0,0,...,18,NaN,NaN,277,294.6,303.6,285.6,136,2,3
3,4,Aaron Jones,GNB,RB,25,16,16,0,0,0,...,19,NaN,NaN,266,314.8,322.8,290.3,125,3,4
4,5,Ezekiel Elliott*,DAL,RB,24,16,16,0,0,0,...,14,NaN,NaN,258,311.7,319.7,284.7,117,4,5

In [9]:
season_19['Cmp'] = pd.to_numeric(season_19.Cmp,errors='coerce')
season_19.dtypes

Rk          object
Player      object
Tm          object
FantPos     object
Age         object
G           object
GS          object
Cmp        float64
Att         object
Yds         object
TD          object
Int         object
Att.1       object
Yds.1       object
Y/A         object
TD.1        object
Tgt         object
Rec         object
Yds.2       object
Y/R         object
TD.2        object
Fmb         object
FL          object
TD.3        object
2PM         object
2PP         object
FantPt      object
PPR         object
DKPt        object
FDPt        object
VBD         object
PosRank     object
OvRank      object
dtype: object

In [10]:
season_19_2.columns

Index(['FantPos', 'Age', 'G', 'GS', 'Cmp', 'Att', 'Yds', 'TD', 'Int', 'Att.1',
       'Yds.1', 'Y/A', 'TD.1', 'Tgt', 'Rec', 'Yds.2', 'Y/R', 'TD.2', 'Fmb',
       'FL', 'TD.3', '2PM', '2PP', 'FantPt', 'PPR', 'DKPt', 'FDPt', 'VBD',
       'PosRank', 'OvRank'],
      dtype='object')

In [11]:
columns = season_19_2.columns[1:]
columns

Index(['Age', 'G', 'GS', 'Cmp', 'Att', 'Yds', 'TD', 'Int', 'Att.1', 'Yds.1',
       'Y/A', 'TD.1', 'Tgt', 'Rec', 'Yds.2', 'Y/R', 'TD.2', 'Fmb', 'FL',
       'TD.3', '2PM', '2PP', 'FantPt', 'PPR', 'DKPt', 'FDPt', 'VBD', 'PosRank',
       'OvRank'],
      dtype='object')

In [12]:
for col in columns:
    season_19_2[col] = pd.to_numeric(season_19_2[col],errors='coerce')
    
season_19_2.dtypes

FantPos     object
Age        float64
G          float64
GS         float64
Cmp        float64
Att        float64
Yds        float64
TD         float64
Int        float64
Att.1      float64
Yds.1      float64
Y/A        float64
TD.1       float64
Tgt        float64
Rec        float64
Yds.2      float64
Y/R        float64
TD.2       float64
Fmb        float64
FL         float64
TD.3       float64
2PM        float64
2PP        float64
FantPt     float64
PPR        float64
DKPt       float64
FDPt       float64
VBD        float64
PosRank    float64
OvRank     float64
dtype: object