In [1]:
from sqlalchemy import create_engine
# Postgres username, password, and database name
POSTGRES_ADDRESS = 'fballfinalproject.c6sg90iemyn2.us-east-2.rds.amazonaws.com' ## INSERT YOUR DB ADDRESS IF IT'S NOT ON PANOPLY
POSTGRES_PORT = '5432'
POSTGRES_USERNAME = 'postgres' ## CHANGE THIS TO YOUR PANOPLY/POSTGRES USERNAME
POSTGRES_PASSWORD = 'FFForesight5!!' ## CHANGE THIS TO YOUR PANOPLY/POSTGRES PASSWORD 
POSTGRES_DBNAME = 'postgres' ## CHANGE THIS TO YOUR DATABASE NAME
# A long string that contains the necessary Postgres login information
postgres_str = ('postgresql://{username}:{password}@{ipaddress}:{port}/{dbname}').format(
    username=POSTGRES_USERNAME,
    password=POSTGRES_PASSWORD,
    ipaddress=POSTGRES_ADDRESS,
    port=POSTGRES_PORT,
    dbname=POSTGRES_DBNAME)
# Create the connection
cnx = create_engine(postgres_str)

/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [2]:
import pandas as pd
pd.read_sql_query('''SELECT * FROM fantasy LIMIT 5;''', cnx)

,player,tm,pos,age,G,gs,plid,tmid,cmp_g,passatt_g,...,2PM_G,2PP_G,fpts,posrk,ovrank,yr,ppr_g,starter,next_yr_ppg,next_yr_starter
0,AJBrown,TEN,WR,24,13,13,AJBrown2021,TEN2021,0.0,0.154,...,0.0,0.0,180.9,32,85,2021,13.915,0,NaN,NaN
1,AJBrown,TEN,WR,23,14,12,AJBrown2020,TEN2020,0.0,0.000,...,0.0,0.0,247.5,9,38,2020,17.679,0,13.915,0.0
2,AJBrown,TEN,WR,22,16,11,AJBrown2019,TEN2019,0.0,0.000,...,0.0,0.0,217.1,9,62,2019,13.569,0,17.679,0.0
3,AJDerby,MIA,TE,27,4,0,AJDerby2018,MIA2018,0.0,0.000,...,0.0,0.0,13.8,76,400,2018,3.450,0,NaN,NaN
4,AJDerby,2TM,TE,26,11,1,AJDerby2017,2TM2017,0.0,0.000,...,0.0,0.0,55.4,41,257,2017,5.036,0,3.450,0.0

In [3]:
df = pd.read_sql_query('''SELECT * FROM advpass;''', cnx)

In [4]:
df

,player,tm,pos,age,G,gs,cmp_g,att_g,yds_g,iay_g,...,rpo_yds_g,rpo_passatt_g,rpo_passyds_g,rpo_rushatt_g,rpo_rushyds_g,pa_passatt_g,pa_passyds_g,Year,plid,tmid
0,JameisWinston,TAM,QB,25,16,16,23.750,39.125,319.312,405.375,...,5.125,0.500,5.000,0.062,0.125,5.812,70.812,2019,JameisWinston2019,TAM2019
1,DakPrescott,DAL,QB,26,16,16,24.250,37.250,306.375,346.188,...,28.312,2.812,23.938,0.562,4.375,8.062,77.438,2019,DakPrescott2019,DAL2019
2,JaredGoff,LAR,QB,25,16,16,24.625,39.125,289.875,301.562,...,0.188,0.000,0.000,0.125,0.188,11.375,97.750,2019,JaredGoff2019,LAR2019
3,PhilipRivers,LAC,QB,38,16,16,24.375,36.938,288.438,314.062,...,25.188,2.250,25.188,0.000,0.000,5.625,53.812,2019,PhilipRivers2019,LAC2019
4,MattRyan,ATL,QB,34,15,15,27.200,41.067,297.733,333.933,...,16.867,2.067,16.867,0.000,0.000,7.200,55.133,2019,MattRyan2019,ATL2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,CordarrellePatterson,ATL,RB,30,16,13,0.000,0.062,0.000,1.125,...,1.875,0.000,0.000,0.500,1.875,0.000,0.000,2021,CordarrellePatterson2021,ATL2021
297,BrettRypien,DEN,QB,25,1,0,0.000,2.000,0.000,11.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,2021,BrettRypien2021,DEN2021
298,DAndreSwift,DET,RB,22,13,4,0.000,0.077,0.000,-0.923,...,12.769,0.000,0.000,1.000,12.769,0.000,0.000,2021,DAndreSwift2021,DET2021
299,AlbertWilson,MIA,WR,29,14,5,0.000,0.071,0.000,0.357,...,0.000,0.000,0.000,0.000,0.000,0.071,0.000,2021,AlbertWilson2021,MIA2021
300,BrandonZylstra,CAR,WR,28,13,3,0.000,0.077,0.000,1.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,2021,BrandonZylstra2021,CAR2021